*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;

}

body{
    height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(3,65,49,0.9727241238292192) 100%);
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

 #container{
    max-width: 500px;
    height: auto;
    background: rgb(238,174,202);
    background: linear-gradient(to right, #de6161, #2657eb);
    padding: 50px;
    box-shadow: 1px 1px 15px 3px #2d3436;
    border-radius: 5px;

}

h2{
    margin-bottom:10px;
   
}

label{
    display: block;
    margin-top: 20px;
}

input{
    width:400px;
    padding:10px 0;
    border-radius: 5px;
    border: none;
}

button{
    border-radius: 10px;
    padding:15px 30px;
    font-size:0.8rem;
    border:none;
    color: white;
    background: #2d3436;
    margin-top: 20px;
}
button:hover{
    color: rgb(78, 65, 48);
    background-color:#6699ff;
}